@model FileModel

<form method="post" asp-controller="File" asp-action="Edit">
    <div class="border p-3 mt-4 bg-body">
        <div class=" row pb-2">
            <h2 class="text-primary">Edit file</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="FileName"></label>
            <input asp-for="FileName" class="form-control"/>
            <span asp-validation-for="FileName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label >Url</label>
            <input asp-for="StaticUrl" class="form-control" disabled />@*"*@
        </div>
        <input asp-for="Id" hidden/>
        <button type="submit" class="btn btn-primary " style="width:150px">Update</button>
        <a asp-controller="File" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}